@import '../scss/vars';
@import '../scss/mixins/index';

.post {
  background: $block-background;

  border: $block-border;
  border-radius: $block-border-radius;

  border-bottom-width: 3px;

  @include clearfix;

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: $block-header-border;

    font-size: 1.1em;
    font-weight: 300;

    padding: $block-header-padding;

    .left {
      margin-left: 0;
    }

    .right {
      margin-right: 0;
    }
  }

  &__content {
    padding: $block-content-padding;
  }

  &__message {
    white-space: pre-line;
  }

  &__answer {
    font-size: 1em;
  }
}
